* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #212121;
}

body {
  padding: 0;
  margin: 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 3rem;
}

.container {
  width: 100%;
  max-width: 680px;
}

textarea {
  width: 100%;
  padding: 0.5rem;
  font-family: monospace;
  font-size: 1rem;
  color: inherit;
  resize: vertical;
}

ol {
  padding-left: 1rem;
}
